* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica;
   
}

  #main {
    text-align: center;
    background-color:#5F1A51;
    color: azure;
    align-items: center;
    font-size: 16px;
  }
  #title{
    text-align: center;
    background-color: #361939;
    font-size: 1.25em;
    width:100%;
    align-items: center;
    padding: 20px;
    color: azure;
  }  
  span {
      color: #F2D649;
  }  
  a {
      color: #F2D649;
      text-decoration: none;
      font-size: medium; 
    
  }
  p {
      text-align: left;
      line-height: 1.5em;
      padding: 20px;
  }
  #img-div {
    text-align: center;
    background-color: #361939;
    align-items:center;  
    min-width: 500px;
    max-width: 2000px;
  }
  img {
    display: block;
    width:100%; 
    min-width: 500px;
    max-width: 2000px;
  }
  figcaption {
    color: azure;
    text-align: center;
    font-size: .75em;
    padding-bottom: 150px;  
  }
  h2 {
    background-color:#5F1A51;
    color: azure; 
    text-align: center;
    font-size: 1em;
}
h1 {
    color: azure; 
  
}

/* ============SECTION============ */
#main-section {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    align-items: center; 
    background-color:#DAA344; 
}
.main-info {
    margin: 20px;
}
.personal-info {
  width: 100%;
    
}
.career-history{
    width: 100%;
    
}
.career-info {
    width: 90%;
  
}  

.info-picture img {
    width: 70%;
    border-radius: 50px;
}
li {
    text-align: center;
    padding: 20px;
}
.highlights-awards {
    padding-top: 50px;
    background-color: #5F1A51;
    text-align: center;
}
@media {
    .info-picture img  {
        min-width: 500px;
        display: block;
    }
}



