* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica;
}

  #main {
    text-align: center;
    background-color:#5F1A51;
    color: azure;
    align-items: center;
    font-size: 16px;
  }
  #title, h2 {
    text-align: center;
    background-color:#5F1A51;
    font-size: 1.25em;
    width:100%;
    align-items: center;
    padding: 20px;
    color: azure;
  }  
  span {
      color: #DAA344;
  }  
  a {
      color: #F2D649;
      text-decoration: none;
      font-size: medium; 
      padding: 20px;   
  }
  #img-div {
    text-align: center;
    background-color: #361939;
    align-items:center;  
  }
  img {
    display: block;
    width:100%; 
    min-width: 500px;
    max-width: 2000px;
  }
  figcaption {
    color: azure;
    text-align: center;
    font-size: .75em;
    padding: 10px;
  }

/* ============SECTION============ */


  #main-info {
      display: flex;
      padding-top: 50px;
      align-items: center;
      justify-content: space-around;   
      background-color:#DAA344; 
  }
  .personal-info {
    width: 25%;
      
}
  .info-picture {
      max-width: 944px;
      max-height: 900px;
      margin-bottom: 50px;   
  }
  .info-picture img {
      width: 50%;
      border-radius: 50px;
  }
  .personal-info {
    width: 25%;
      
}
.career-info {
    width: 25%;

}
  

